{% extends 'myBlog/base.html' %}
{% block content%}



    <div class="container mt-3">
        
        <div class="row">
            <div class="col-md-3">
                <div class="demo-content">


        <div class="card" style="width: 20rem; height: 40rem;">
          <div class="card-body" style="background-color: crimson;">

              <h2 style="font-style: italic; color: aqua;"> Categories <a href="{% url 'add-category' %}" class="btn btn-primary" style="float:right;"> + </a> </h2>

              {% for item in cat_menu %}
              <div class="d-flex flex-column bd-highlight mb-3">

                  <li style="color: rgb(83, 71, 255); "><a href="{% url 'category' item %}" style="color:whitesmoke">{{ item }}</a>

                    {% endfor %}
              </div>

                         </div>
                       </div>
                       </div>     
                       </div>



            <div class="col-md-8">
                <div class="d-flex flex-row-reverse bg-secondary .align-self-*-end">
                <div class="demo-content bg-alt">

                  <div class="card" style="width: 40rem; height:40rem;">
                    <div class="card-body" style="background: rosybrown;">

                      <h1 style="font-style: italic;">Posts <a href="{% url 'create-post' %}" class=" ml-auto btn btn-primary" style="float:right;">New Post </a> </h1>
                      <ul>
                      {% for post in object_list %}
                      
                          <li style="font-style: medium;"><a href="{% url 'post-detail' post.pk %}" style="font-style: oblique; color: red;">{{ post.title }}</a> - {{ post.author }}
                            <br/>
                              {{ post.text }} -
                      
                               <a href="{% url 'category' post.category %}" style="font:bolder; color:midnightblue;"> {{ post.category }}</a>
                              {% if user.is_authenticated %}
                                <br/>
                                  <a href="{% url 'update-post' post.pk %}">Edit</a>
                                  <a href="{% url 'delete-post' post.pk %}">Delete</a></li>
                                  <br/>
                               {% endif %}
                               {% endfor %}
                               </ul>
            
          </div>
                  </div>
        </div>

                </div>
            </div>
        </div>
        </div>
      


        {% endblock %}